<div class="logout">
    <i class="logout-icon fas fa-door-open"></i>
</div>

<div class="uk-padding uk-panel uk-text-center">
    <a class="peer-up" href="/feed">
        <header class="uk-h4" style="font-size: xx-large;">peɘr up</header>
    </a>
</div>

<section class="answer-area">
    <div class="answer">
        {{> answers/answer-block}}
    </div>
</section>