<div class="content uk-margin uk-text-center" style="margin-top: 10%">
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <a class="peer-up" href="/">
            <h1 class="logo">peɘr up</h1>
        </a>

        <div class="sign-up uk-margin">
            <h4>log in</h4>
            <form class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input" type="email" placeholder="email" id="login-email">
                </div>
                <br><br>
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" placeholder="password" id="login-password">
                </div>
            </form>
            <a class="uk-button uk-button-default" href="/skills" id="letsGoLink">let's go</a>
            <p>new? <a class="create-account" href="/username">create an account</a></p>
        </div>
    </div>
</div>