<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>peɘr up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" />
    <link rel="stylesheet" href="../public/assets/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</head>
<body>

        <div class="content uk-margin uk-text-center">
            <h1 class="logo">peɘr up</h1>
            <div class="sign-up uk-margin">
                <h4>log in</h4>
                <form class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" placeholder="email">
                    </div>
                    <br><br>
                    <div class="uk-inline">
                        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="text" placeholder="password">
                    </div>
                </form>
                <button type="submit" class="login uk-button uk-button-default">let's go</button>
                <p>new? <a class="create-account" href="#">create an account</a></p>
            </div>
        </div>
    
        <div class="create-partial uk-text-center">
            <form class="uk-margin">
                <p>enter your email address</p>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="email">
                <p>create a password</p>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="password">
                <br><br>
            <button class="continue-one uk-button uk-button-default">continue</button>
        </form>
        </div>

        <div class="username-partial uk-text-center uk-margin">
            <h4>select a username from the list below</h4>
            <div class="uk-form-controls">
                <label><input class="uk-radio" type="radio" name="radio1"> Option 01</label>
                <br>
                <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
                <br>
                <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
                <br>
                <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
                <br>
                <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
                <br><br>
            </div>
            <button class="continue-two uk-button uk-button-default">continue</button>
        </div>

<!---Marissa commented this out because it was redundant with the skills page//Would like Sarah's thoughts before deleting this section
        <div class="strengths-partial uk-text-center uk-margin">
            <h4>what are your strengths?</h4>
            <button class="strength uk-button uk-button-default">html</button>
            <button class="strength uk-button uk-button-default">css</button>
            <button class="strength uk-button uk-button-default">js</button>
            <button class="strength uk-button uk-button-default">jquery</button>
            <br>
            <button class="strength uk-button uk-button-default">api's</button>
            <button class="strength uk-button uk-button-default">git</button>
            <button class="strength uk-button uk-button-default">node.js</button>
            <button class="strength uk-button uk-button-default">express</button>
            <br>
            <button class="strength uk-button uk-button-default">mysql</button>
            <button class="strength uk-button uk-button-default">react</button>
            <button class="strength uk-button uk-button-default">nosql</button>
            <br><br>
            <button class="strength uk-button uk-button-default">none, i am weak</button>
            <br><br>
            <button class="lets-do-this uk-button uk-button-default">let's do this</button>
        </div>
    -->

    <script src="../public/assets/js/script.js"></script>
    <script src="../lib/SendBird-SDK/SendBird.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit-icons.min.js"></script>
</body>
</html>