<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>peer up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" />
    <link rel="stylesheet" href="../public/assets/css/style.css" />
    
</head>
<body>

        <div class="content uk-margin uk-text-center">
            <h1 class="logo">peɘr up</h1>
            <div class="sign-up uk-margin">
                <h4>log in</h4>
                <form>
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="email">
                    <br>
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="password">
                </form>
                <button class="uk-button uk-button-default">Button</button>
            </div>
        </div>
    

    <script src="../public/assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit-icons.min.js"></script>
</body>
</html>