<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>peer up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" />
    <link rel="stylesheet" href="../public/assets/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</head>
<body>

        <div class="content uk-margin uk-text-center">
            <h1 class="logo">peɘr up</h1>
            <div class="sign-up uk-margin">
                <h4>log in</h4>
                <form class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text">
                    </div>
                    <br><br>
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="password">
                </form>
                <button class="login uk-button uk-button-default">let's go</button>
                <p>new? <a class="create-account" href="">create an account</a></p>
            </div>
        </div>
    
        <div class="create-partial uk-text-center">
            <form class="uk-margin">
                <p>enter your email address</p>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="email">
                <p>create a password</p>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="password">
            </form>
            <button class="continue uk-button uk-button-default">continue</button>
        </div>

        <div class="username-partial uk-text-center">
            <h3>select a username from the list below</h3>
            <ul class="uk-list uk-margin">
                <li>

                </li>
            </ul>
            <button class="continue uk-button uk-button-default">continue</button>
        </div>

    <script src="../public/assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit-icons.min.js"></script>
</body>
</html>