<div class="content uk-margin uk-text-center" style="margin-top: 10%">
    <div class="uk-card uk-card-default uk-card-body">
        <a class="peer-up" href="/">
            <h1 class="logo">peɘr up</h1>
        </a>

        <div class="create-partial uk-text-center" style="display: none">
            <form class="uk-margin">
                <p>enter your email address</p>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="email">
                <p>create a password</p>
                <input class="uk-input uk-form-width-medium" type="text" placeholder="password">
                <br><br>
                <a class="uk-button uk-button-default" href="index.html" style="background-color: #F7F7F7">let's do
                    this</a>
            </form>
        </div>
    </div>
</div>