<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>skills page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/css/uikit.min.css" />
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.4/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <div>
        <div class="uk-background-muted uk-padding uk-panel">
            <header class="uk-h4" style="text-align: center; font-size: xx-large;">peɘr up</header>
        </div>
    </div>


    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body" class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="images/light.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">i am looking for help</h3>
                    <textarea class="uk-textarea" placeholder="i need help with..."></textarea>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body" class="uk-card uk-card-default">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">i can help with...</h3>
                </div>
                <div class="uk-card-media-bottom">
                    <img src="images/light.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <p uk-margin>
        <button class="uk-button uk-button-default">html</button>
        <button class="uk-button uk-button-default">css</button>
        <button class="uk-button uk-button-default">git</button>
        <button class="uk-button uk-button-default">javascript</button>
        <button class="uk-button uk-button-default">api's</button>
        <button class="uk-button uk-button-default">node.js</button>
        <button class="uk-button uk-button-default">express</button>
        <button class="uk-button uk-button-default">mysql</button>
        <button class="uk-button uk-button-default">react</button>
        <button class="uk-button uk-button-default">nosql</button>

    </p>
</body>

</html>


