<div class="uk-padding uk-panel">
    <a class="peer-up" href="/feed">
        <header class="uk-h4" style="text-align: center; font-size: xx-large;">peɘr up</header>
    </a>
</div>

<div class="uk-grid-match uk-child-width-expand@s uk-text-center uk-padding" uk-grid>
    <div>
        <div class="content uk-card uk-card-default uk-card-body uk-box-shadow-large uk-margin uk-text-center">
            <h3 class="uk-card-title" style="text-align: center">i am looking for help with...</h3>
            <form>
                {{!-- <select id="skill-dropdown"></select> --}}
                <textarea class="login-body uk-textarea"
                    placeholder="tell us about your issue"></textarea>
            </form>
            <br>
            <a class="login-post uk-button uk-button-default" href="/feed" style="background-color: #F7F7F7">get 
            help</a>
        </div>
    </div>

    <div>
        <div class="strengths-partial uk-card uk-card-default uk-card-body uk-box-shadow-large uk-text-center uk-margin">
            <h3>what can you help with?</h3>
            {{#each skills}}
            <button class="strength uk-button uk-button-default">{{ subject }}</button>
            {{/each}}
            <br><br>
            <a class="uk-button uk-button-default" href="/feed" style="background-color: #F7F7F7">let's go</a>
        </div>
    </div>
</div>