<div class="content uk-margin uk-text-center" style="margin-top: 10%">
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <a class="peer-up" href="/">
            <h1 class="logo">peɘr up</h1>
        </a>

        <div class="strengths-partial uk-text-center uk-margin">
            <h4>what are your strengths?</h4>
            {{#each skills}}
            <input type="checkbox" id="strength-cb-{{@index}}" data-id="{{id}}">
            <label for="strength-cb-{{@index}}">
                {{subject}}
            </label><br>
            {{/each}}
            <a class="continue-two uk-button uk-button-default" href="/signup">continue</a>
        </div>
    </div>
</div>