<div class="content uk-margin uk-text-center" style="margin-top: 10%">
    <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
        <a class="peer-up" href="/">
            <h1 class="logo">peɘr up</h1>
        </a>

        <div class="username-partial uk-text-center uk-margin">
            <p>Choose a username
                <br>
                {{#each names}}
                <input class="uk-radio" type="radio" name="username-radio-group" id="name-radio-{{@index}}">
                <label for="name-radio-{{@index}}">
                    {{ name }}
                </label><br>
                {{/each}}
            </p>
            <br><br>
            <a class="continue-one uk-button uk-button-default" href="/strengths">continue</a>
        </div>
    </div>
</div>