<div class="uk-card uk-card-default uk-card-body uk-margin" style="width: 85%">
    {{username}} posted the following request:
    <h5 style="padding-top: 10px">{{body}}</h5>
    <br>
    {{username}} posted the following answer:
    <h5 style="padding-top: 10px">{{body}}</h5>
</div>