<div class="post uk-card uk-card-default uk-card-body uk-margin" style="width: 75%">
    {{body}}

    <button type="button" class="answer btn btn-danger" data-id="{{id}}">
        post answer</button>

</div>

<br>